{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Delete Organization</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Delete Organization</div>
          </div>

          <div class="col-md-6">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <button type="submit" class="btn btn-danger btn-rounded">
                  Confirm Delete
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}